/*
site color theme:
- timerwolf: d3d0cb
- platinum: E7E5DF
- maize crayola: E7BB41
- goldenrod: #E4B125 - #daa71b
- blue button: #41547d;
- dark blue: #232c43;
- dark blue black: 0e121b
*/

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  letter-spacing: 0.7px;
  font-family: Open Sans, Arial, sans-serif;
  font-size: 14px;
  color: #666;
  background-color: #fff;
  line-height: 2em;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Work Sans', sans-serif;
  color: #0e121b !important;
  margin-top: 0px;
  line-height: 1.5em;
  padding-bottom: 7px;
  margin-bottom: 35px;
}

main {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: auto;
  flex-direction: row;
  flex-wrap: wrap;
}

.home-main {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: auto;
  flex-direction: row;
  flex-wrap: wrap;
}

#main {
  height: 100%;
  display: flex;
}

.cover-container {
  background: linear-gradient(#ffffff, #c0c0c0);
  background-image: url(https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2970&q=80);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}

.bg-overlay-black-40:before {
  background: rgba(26, 40, 68, 0.8);
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

.bg-overlay-black-40 {
  position: relative;
  z-index: 1;
}

.lead {
  font-weight: 300;
  letter-spacing: 1.5px;
  padding-top: 20px;
}

/* Header */

header {
  padding-top: 7px;
  position: fixed;
  height: 55px;
  width: 100%;
  z-index: 100;
  background-color: #232c43d1;
}

nav {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.3em;
  letter-spacing: 1.3px;
  padding-top: 5px;
}

.nav-masthead .nav-link {
  border-bottom: 0.15rem solid transparent;
  margin: 5px 10px 0px 10px !important;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: #daa71b;
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

.nav-masthead {
  padding-right: 15px;
}

a.nav-link {
  font-family: 'Muli', sans-serif !important;
  font-weight: 800 !important;
  text-transform: uppercase !important;
  color: white;
  letter-spacing: 2.5px;
}

a.nav-link:hover,
a.nav-link:active,
a.nav-link:focus {
  color: #daa71b;
}

/* Landing Page */

.landing-text {
  width: 80%;
  max-width: 1000px;
  margin: auto;
}

.landing-text h1 {
  font-size: 3.5rem;
  font-style: normal;
  color: white !important;
  line-height: 1.5em;
}

.hidden {
  display: none;
}

/* Custom buttons */
a.btn.btn-primary {
  color: #fff;
  background: #daa71b;
  border-color: #daa71b;
  border-radius: 0;
  color: #ffffff !important;
  border-width: 0px !important;
  border-radius: 0px;
  letter-spacing: 2px;
  font-size: 12px;
  font-family: 'Muli', sans-serif !important;
  font-weight: 800 !important;
  text-transform: uppercase !important;
  padding: 18px 30px 18px 30px !important;
  box-shadow: 0px 10px 20px 0px rgb(223 171 130 / 24%);
  transition: box-shadow 300ms ease 0ms;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: all !important;
  transition-property: all !important;
  margin-bottom: 23px !important;
}

button.btn.btn-primary {
  color: #fff;
  background: #41547d !important;
  border-color: #41547d !important;
  margin: 10px 10px 10px 0;
  text-transform: uppercase !important;
  letter-spacing: 2px;
}

button.btn.btn-primary:hover {
  background: #6b82b3 !important;
  border-color: #6b82b3 !important;
}

a.btn.btn-primary:hover {
  color: #fff;
  background: #e4b125 !important;
  border-color: #e9be49 !important;
}

.btn-primary:focus {
  box-shadow: 49, 132, 253;
}

.btn-primary:active {
  background: #e4b125;
  border-color: #e4b125;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none;
}

.single-page a.btn-outline-secondary,
.btn-outline-secondary {
  color: #232c43;
  font-weight: 400 !important;
  text-transform: uppercase !important;
  letter-spacing: 2px;
}

.btn-outline-secondary:hover {
  color: white !important;
  background-color: #41547d !important;
}

.btn {
  border-radius: 0 !important;
}

body #page-container .et_pb_section .et_pb_button_0 {
  color: #ffffff !important;
  border-width: 0px !important;
  border-radius: 0px;
  letter-spacing: 2px;
  font-size: 12px;
  font-family: 'Muli', sans-serif !important;
  font-weight: 800 !important;
  text-transform: uppercase !important;
  background-color: #41547d;
}

/* Links */

a,
a:hover {
  text-decoration: none;
}

button.accordion-button.collapsed,
.accordion-body {
  color: #41547d !important;
  border-width: 0px !important;
  border-color: rgba(0, 0, 0, 0);
  border-radius: 0px;
  letter-spacing: 2px;
  font-size: 12px;
  font-family: 'Muli', sans-serif !important;
  font-weight: 800 !important;
  text-transform: uppercase !important;
  background-color: #ffffff;
  padding: 18px 30px !important;
  box-shadow: 0px 10px 20px 0px rgb(65 84 125 / 6%);
  transition: box-shadow 300ms ease 0ms;
}

.accordion-button:not(.collapsed) {
  color: #777 !important;
  background-color: #f9f9f9 !important;
  box-shadow: inset 0 1px 0 #999 !important;
}

.accordion-header {
  padding-bottom: 0;
}

input.form-control,
textarea.form-control {
  background-color: #f6f9fe;
  border: none;
  padding: 10px;
  margin: 10px 0;
  color: #333;
  border-radius: none !important;
}

h3.featurette-heading.fw-normal.lh-1 {
  font-weight: 400 !important;
  font-size: 1.4em;
  line-height: 1.5em !important;
  color: #333 !important;
}

/* Pages */

.all-campuses,
.all-students {
  margin-top: 55px;
}

/* card CSS*/

.card,
.card-img,
.card-img-top {
  border-radius: 0 !important;
}

h4.card-title a {
  font-family: 'Cormorant Garamond', Georgia, 'Times New Roman', serif;
  font-weight: 800;
  font-size: 28px;
  line-height: 1em;
  text-decoration: none;
  color: #0e121b;
}

h4.card-title a:hover {
  color: #41547d;
}

.card-body {
  height: 250px;
  display: flex;
  flex-direction: column;
}

.all-students .card-body {
  height: 152px;
}

.all-campuses .card-body {
  height: 256px;
}

.card-text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card-img-top {
  height: 279.55px;
  object-fit: cover;
}

address.card-subtitle {
  margin-bottom: 7px;
}

address,
.gold-text {
  color: #daa71b;
}

.bottom-buttons {
  align-self: flex-end;
  margin-top: auto;
  width: 100%;
}

/* Dropdown/Select */

.custom-select {
  display: inline-block;
  width: auto;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 1.75rem 0.375rem 0.75rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

/* Single Page */

h2.featurette-heading {
  font-family: 'Cormorant Garamond', Georgia, 'Times New Roman', serif;
  font-weight: 800 !important;
  font-size: 2.5em;
  line-height: 1.5em !important;
  color: #0e121b !important;
}

.single-page {
  margin-top: 55px;
  width: 90%;
  max-width: 1250px;
}

.single-page a {
  color: #41547d !important;
  letter-spacing: 2px;
  font-size: 14px;
  font-family: 'Muli', sans-serif !important;
  font-weight: 800 !important;
  text-transform: uppercase !important;
}

.single-page a.email {
  color: #daa71b !important;
}

.single-page .list-group-item {
  display: flex;
}

.single-page hr {
  margin: 3rem 0;
}

/* Create Pages */

form#create-form {
  min-width: 50%;
}

#create-form h2 {
  font-family: 'Cormorant Garamond', Georgia, 'Times New Roman', serif;
  font-weight: 800;
  line-height: 1em;
}

/* To Top Button */

#toTopBtn {
  position: fixed;
  bottom: 47px;
  right: 39px;
  z-index: 98;
  padding: 21px;
  background-color: #41547d;
}

a#toTopBtn:hover {
  background-color: #41547d !important;
}

.cd-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: inline-block;
  height: 40px;
  width: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05) !important;
  background: url(https://res.cloudinary.com/dxfq3iotg/image/upload/v1571057658/cd-top-arrow.svg)
    no-repeat center 50%;
}

footer {
  position: fixed;
  z-index: 100;
  background-color: #232c43d1;
  bottom: 0;
  width: 100%;
  height: 40px;
  left: 0;
  margin-bottom: 0 !important;
  padding: 5px 20px !important;
  border: none !important;
}

footer .text-muted {
  color: #d6d6d6 !important;
  font-family: 'Inter', sans-serif;
  text-transform: uppercase;
  line-height: 1.3em;
  letter-spacing: 1.3px;
  font-size: 14px;
}

footer .text-muted i {
  font-size: 20px;
  padding: 0 5px;
}
